<div fxLayoutAlign="center center"  fxFlexFill>
  <div  fxLayoutGap="30px">
  
      <div fxFlex="100%">
          <mat-card fxLayoutAlign="center" fxLayout="column">
  
              <mat-toolbar color="primary">SHOPPER</mat-toolbar>
              <br/><br/>
  
              <form fxLayout="column" (ngSubmit)="signUpUser()" >
  
              <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Enter Your Email" name="email" required #email="ngModel" [(ngModel)]="user.email" >
                  
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
  
                <span *ngIf="email.invalid && email.touched" style="color:red;">Please Enter a Valid Email</span>
                
              <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="Enter Your Password" name="password" required #password="ngModel" [(ngModel)]="user.password">
                
                  <mat-icon matSuffix>visibility_off</mat-icon>
                  
                </mat-form-field>
                <span *ngIf="password.invalid && password.touched" style="color:red;">Please Enter a Valid Password</span>

                
              
                <button mat-raised-button color="warn">SIGNUP</button>
              </form>
          </mat-card>
      </div>
    </div>
  </div>
  