<div class="account section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="login-form border p-5">
            <div class="text-center heading">
              <h3 class="mb-2 h2">Password Recovery</h3>
                    </div>
  
            <form (ngSubmit)="verifyOtp()">
              <div class="form-group mb-4">
                <label for="#">OTP VERIFICATION</label>
                <input type="text" class="form-control" placeholder="Enter the OTP Received" [(ngModel)]="user.email">
              </div>
              <button class="btn btn-main mt-3 btn-block">Verify OTP</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

