<h1 mat-dialog-title>Add Products</h1>
<div mat-dialog-content>
    <form [formGroup] = "productForm" >
      <mat-form-field appearance="outline">
        <mat-label>Product Name</mat-label>
        <input formControlName="productName"  matInput placeholder="Name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Product Category</mat-label>
        <mat-select  formControlName="category" placeholder="Category">
            <mat-option value="Fruits">Fruits</mat-option>
            <mat-option value="Vegetables">Vegetables</mat-option>
            <mat-option value="Electronics">Electronics</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Source of image</mat-label>
        <input formControlName="imgsrc" matInput placeholder="Source">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input formControlName="date" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Product Price</mat-label>
        <input formControlName="productPrice" matInput placeholder="Orignal price">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Product Discount price</mat-label>
        <input formControlName="productDiscountPrice" matInput placeholder="Discount price">
      </mat-form-field>
    </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>
        close
    </button>
    <button mat-raised-button color="primary" style="margin-left:10px" (click)="addProduct()">
        save
    </button>
</div>