

  <div fxLayoutAlign="center center"  fxFlexFill>
    <div  fxLayoutGap="30px">
    
        <div fxFlex="100%">
            <mat-card fxLayoutAlign="center" fxLayout="column">
    
                <mat-toolbar color="primary">SHOPFLY</mat-toolbar>
                <br/><br/>
    
                <form fxLayout="column" (ngSubmit)="loginUser()">
    
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter Your Email" name="email" [(ngModel)]="user.email" >
                    <mat-icon matSuffix>email</mat-icon>
                  </mat-form-field>
    
    
                  
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Enter Your Password" name="password" [(ngModel)]="user.password">
                    <mat-icon matSuffix>visibility_off</mat-icon>
                  </mat-form-field>
  
                  <button mat-raised-button color="warn" (click)="forgotpassword()">Forgot Password</button>
                  <br/><br/>
    
                  <button mat-raised-button color="primary">LOGIN</button>
                </form>
            </mat-card>
        </div>
      </div>
    </div>
    

 
